<p>À propos de qui ou de quoi concerner cette contrariété ? </p>
<%= f.select(:about, [['De moi', 'De moi'],
                          ['Des autres', 'Des autres'],
                          ['Du passé', 'Du passé'],
                          ['Du futur', 'Du futur'],
                          ['Du monde', 'Du monde'],
                         ],{ :prompt => "d"},
                           { :multiple => false, :size => 5, :class => 'form' }
                         ) %>
