<p>À propos de qui ou de quoi concerner cette contrariété ? </p>
<%= f.select(:about, [['De moi', 'De moi'],
                          ['Des autres', 'Des autres'],
                          ['De ma vie', 'De ma vie'],
                          ['De mon futur', 'De mon futur'],
                          ['Du monde', 'Du monde'],
                         ],{ :prompt => "Choisissez une réponse"},
                           { :multiple => false, :size => 5, :class => 'form' }
                         ) %>
