<p>Où avez-vous été contrariété ? </p>
<%= f.select(:situation, [['À la maison', 'À la maison'],
                    ['Dans les transports', 'Dans les transports'],
                    ['Au travail', 'Au travail'],
                    ['Dans votre lit', 'Dans votre lit'],
                    ['Dans un magasin', 'Dans un magasin'],
                    ['En vacances', 'En vacances'],
                    ['Au sport', 'Au sport'],
                    ['Autre', 'Autre'],
                   ],{ :prompt => ""},
                     { :multiple => false, :size => 8 }
                   ) %>




