<div class="container">
  <h1>Mes pensées</h1>
  <div class="row">
    <% @thought_checks.each do |thought_check| %>
      <div class="col-md-3">
        <%= render 'shared/card', thought_check: thought_check %>
      </div>
    <% end %>
  </div>
</div>
