.title-features {
  color: #FE7F2D;
  text-align: center; 
  font-size: 50px;
  margin-top: 150px;
  margin-bottom: 70px;
}

.feature {
  color: white;
  font-size: 28px;
  text-align: center;
  margin-bottom: 150px
}