<div class="banner">
  <div class="banner-content">

    <h2>Mind</h2>
    <p style="color: black;">Remettre en question ses pensées, <br>passer à l'action pour changer</p>
    <% if current_user  %>
      <%= link_to(new_thought_check_path) do %>
        <p class="btn">Commencer</p>
      <% end %>
    <% else %>
      <%= link_to(new_user_registration_path) do %>
        <p class="btn">Commencer</p>
      <% end %>
    <% end %>
  </div>
</div>


