.card {
  background-size: cover !important;
  background-position: center;
  position: relative;
  margin: 20px;
  width: 280px;
  height: 350px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 8px;
  &.card-1 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('situation.jpg');
  }
  &.card-2 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('thoughts.jpg');
  }
  &.card-3 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('feeling.jpg');
  }
  &.card-4 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('reaction.jpg');
  }
  &.card-4 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('reaction.jpg');
  }
  &.card-5 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('trust.jpg');
  }
  &.card-6 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('positive_proof.jpg');
    width: 500px;
  }
  &.card-7 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('negative_proof.jpg');
    width: 500px;
  }
  &.card-8 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('worst_case.jpg');
  }
  &.card-9 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('best_case.jpg');
  }
  &.card-10 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('alternative.jpg');
  }
  &.card-11 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('friend.jpg');
  }
}

.card:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.title {
  position: absolute;
  left: 5px;
  top: 15px;
  color: #FFF;
}

.content {
  background-color: black;
  padding: 5px;
  border-radius: 3px;
  opacity: 0.8;
  font-size: 20px;
  position: absolute;
  left: 15px;
  bottom: 40px;
  text-align: center;
  color: #FFF;
}

.emotion_level {
  background-color: black;
  padding: 5px;
  border-radius: 3px;
  font-size: 20px;
  position: absolute;
  right: 15px;
  bottom: 40px;
  color: #FFF;
}

.about {
  background-color: black;
  padding: 5px;
  border-radius: 3px;
  font-size: 20px;
  position: absolute;
  left: 15px;
  bottom: 100px;
  color: #FFF;
}


