@import 'banner';
@import 'navbar';
@import 'card';

body {
  background-color: #619BA6;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

option {
  font-family: 'Montserrat', sans-serif;
}
